<h1>Neste side</h1>

<p> meget bra </p>

<p><%= @message %></p>

<form>
  <label for="input-text">Enter some text:</label>
  <input type="text" id="input-text" name="input-text">
  <input type="submit" value="Submit">
</form>
