<h1>Neste side</h1>

<p> meget bra </p>

<p><%= @message %></p>

<form action="nestepost?tekst=<%= params[:tekst] %>" method="post">
  <label for="input-text">Enter some text:</label>
  <input type="text" id="tekst" name="tekst">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="submit" value="Submit">
</form>
