<h1>Neste side</h1>

<p> meget bra </p>

<p><%= @message %></p>

<form action="/neste" method="post">
  <label for="input-text">Enter some text:</label>
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="text" id="text" name="text">
  <input type="submit" value="Submit">
</form>
